# -----------------------
# Node / CDK
# -----------------------
*.js
!jest.config.js
*.d.ts
node_modules/

.cdk.staging
cdk.out/

# -----------------------
# Python
# -----------------------
venv/
.env
.env.*

__pycache__/
*.pyc
*.pyo
*.pyd

# pytest
.pytest_cache/

# coverage
.coverage
htmlcov/

# -----------------------
# Mac / system
# -----------------------
.DS_Store

# -----------------------
# IDEs
# -----------------------
.vscode/
.idea/

# -----------------------
# Logs
# -----------------------
*.log
configs/*